@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.statistics,
.history,
.support {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.home {
  display: flex;
}

.robot-cards {
  width: 50%;
  height: 92vh;
  overflow-y: scroll;
  left: -100%;
  transition: 350ms;

}

.robot-cards.active {
  width: 100%;
  left: 0;
  transition: 350ms;
}

.robot-cards-content {
  margin: 2% 5% 5% 5%;
}

.motion-robot {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 23%));
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}

.robot-card {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  color: white;
  flex-direction: column;
}

.active-robot-card h3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 0.8rem;
}


.robot-card h2 {
  font-size: 1.2rem;
}

.robot-map {
  width: 50%;
  height: 92vh;
  display: flex;
  right: -100%;
  transition: 350ms;
  position: fixed;
}

.robot-map.active {
  width: 50%;
  height: 92vh;
  display: flex;
  right: 0;
  transition: 350ms;
}


.map {
  width: 100%;
  height: 92vh;
}

.map-container {
  width: 100%;
  height: 92vh;
}

.infoWindow-data {
  width: 100px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infodata-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.infodata-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 1px;
}

.link-robot-control a {
  color: #060b26;
  text-decoration: none;
  border-radius: 4px;
  padding: 0px 3px;
  border: 2px solid rgb(28, 36, 53);
}
.link-robot-control a:hover {
  background-color: #060b26;
  color: white;
}

.home-map-button {
 margin-top: 20px;
}

.home-map-button-container {
  background-color: white;
  border-radius: 5px;
  margin-left: 20px;
  min-width: 7rem;
  min-height: 3rem;
  cursor: pointer;
}

.filter-container button {
  margin-right: 2rem;
  margin-bottom: 1rem;
  min-width: 5rem;
  padding: 0.5rem 1rem;
  border: none;
  background: white;
  color: #060b26;
  border-radius: 1rem;
  border: 2px solid rgb(28, 36, 53);
  font-weight: bold;
  cursor: pointer;
}

.filter-container button.active {
  background: #060b26;
  color: white
}

.robotControl {
  height: 92vh;
  display: flex;
}

.left {
  height: 92vh;
  width: 25vw;
}

.middle {
  height: 92vh;
  width: 50vw;
}

.right {
  height: 92vh;
  width: 25vw;
}

.stream-div {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  top: 10%;
  width: 40vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(28, 36, 53);
}

.stream-robot-notconnected {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stream-button-off button {
  text-decoration: none;
  color: white;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #060b26;
}

.stream-button-off button:hover {
  background-color: #1a83ff;
}

.stream-button-on button {
  text-decoration: none;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  /* display: flex; */
  /* height: 50%;
  width: 30%; */
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #060b26;
}

.stream-button-on button:hover {
  background-color: #1a83ff;
}


.capteur-div {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 999px;
  top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(28, 36, 53);
}

.map-div {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  width: 15vw;
  height: 45vh;
  top: 17vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control-div {
  width: 100%;
  height: 40vh;
}

.button-div {
  position: relative;
  width: 100%;
  height: 10vh;
  display: flex;
  color: white;
  justify-content: space-evenly;
  align-items: center;
}

.send-command-div {
  font-size: 1rem;
  width: 100%;
  height: 100%;
}

.checkbox-div {
  font-size: 1rem;  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20%;
  padding: 0.5rem;
}

.button-send-command {
  position: absolute;
  bottom: 10%;
  right: 5vh;
}

.button-send-command button {
  text-decoration: none;
  color: white;
  width: 7vw;
  height: 2.5vh;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #060b26;
}

.button-div button {
  text-decoration: none;
  color: white;
  position: relative;
  display: flex;
  height: 50%;
  width: 30%;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #060b26;
}

.button-div button:hover {
  background-color: #1a83ff;
}

.modalOpen {
  margin-right: auto;
  margin-left: auto;
  background-color: azure;
  position: relative;
  top: 5%;
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 20px 20px 20px 20px;
}

.modalOpen p {
  font-size: 1rem;
}

.controler-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-controler {
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.gamepad-data {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 0;
  height: 100%;
  width: 100%;
}

.gamepad-data-buttons {
  font-size: 1rem;
  position: absolute;
  bottom: 50%;
}

.gamepad-data-axes {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 10px;
}

.gamepad-progressBar {
  display: flex;
}

.gamepad-circle {
  height: 100px;
  width: 100px;
  border: 2px solid rgb(28, 36, 53);
  border-radius: 999px;
}

.radius-vertical {
  position: absolute;
  width: 98%;
  height: 2px;
  top: 51%;
  background-color: black;
}

.radius-horizontal {
  position: absolute;
  width: 2px;
  height: 98%;
  left: 49%;
  background-color: black;
}

.rotate-bar {
  position: absolute;
  width: 2px;
  background-color: red;
  height: 50%;
  left: 49%;
  transform-origin: bottom;
}

.info-div {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  width: 15vw;
  height: 45vh;
  top: 2vh;
  background-color: whitesmoke;
  border: 2px solid rgb(28, 36, 53);
}

.no-controler {
  height: 70%;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-controler-container {
  color: red;
  font-size: 1.2rem;
}

.title {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.robot-control-data {
  height: 85%;
  padding: 8px 8px 8px 8px;
}

.action-data {
  width: 100%;
  align-items: center;
  display: flex;
  align-items: center;
  padding: 10px 5px 10px 5px;
}

.action-data-status {
  font-size: 1.5rem;
  position: relative;
  margin-left: 10px;
}

.battery-data {
  width: 100%;
  align-items: center;
  align-items: center;
  padding: 10px 5px 10px 5px;
}

.progressBar-div {
  padding: 10px 0px 5px 0px;
}

.livraison-data {
  width: 100%;
  align-items: center;
  align-items: center;
  padding: 10px 5px 10px 5px;
}

.module-data {
  width: 100%;
  align-items: center;
  align-items: center;
  padding: 10px 5px 10px 5px;
  display: flex;
}

.module-data-status {
  font-size: 1.5rem;
  position: relative;
  margin-left: 10px;
}

.map-robot-control {
  width: 100%;
  height: 45vh;
}

.map-container-robot-control {
  width: 100%;
  height: 45vh;
}